name: Deploy HTML Website

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.0.0
        with:
          server: ${{ secrets.BRAD }}
          username: ${{ secrets.BRADY }}
          password: ${{ secrets.BRADOU }}
          local-dir: ./
          server-dir: /www/mon-site/
          dry-run: false
